body { 
    font-family: 'Source Sans Pro', sans-serif!important;
    overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html {
    overflow-x: hidden;
}

a {
    color:black!important;
    font-weight: bold!important;
}

.nav-link {
    display: block;
    padding: 0.5rem 2rem!important;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    font-size: 18px;
  }

.b-right::after {
    content: '';
    display: block;
    width: 2px;
    height: 15px;
    background-color: #ececec;
    position: absolute;
    top: 20px;
    bottom: 0;
}

.border-tabs {
    border-right: 1px solid 
    #2c323f;
    border-left: 1px solid 
    #2c323f;
}

.container-row {
    width: 1440px;
    max-width: 1440px;
}

.number-btn {
    background-color: #de130f;
    color:white !important;
    font-weight: bold !important;
    padding: 0px;
    border-radius: 3px;
    border: 2px solid #de130f;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.indicator-right {
    position: absolute;
    z-index: 15;
    right: 0;
    height: 100%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

.heart-hover:hover {
    color: red;
}

.indicator-right li {
    background-color: white;
    padding: 3px;
    margin: 2px;
    border-radius: 2px;
}

.banner-content {
    position: absolute;
    top: 0;
    z-index: 15;
    height: 100%;
    width: 100%;
}

.b-b {
    border-bottom: 1px solid #e2e2e3;
}

.banner-bg {
    background-image: url("../images/main_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 473px;
}

.banner-title {
    color: black;
    font-weight: bold;
}

.banner-sub-title {
    color: #6c6d72;
}

.banner-divider {
    height: 2px;
    width: 100%;
    background-color: white;
}

.nav-pills .nav-link.active {
    background-color:#1d222d!important;
    color:white !important;
    opacity: 1;
}

.nav-pills .nav-link {
    background-color: #1d222d !important;
    color:white !important;
    opacity: 0.2;
}

.btn-white {
    background-color: white;
}

#dropdownMenuButton {
    width: 100%;
    padding: 9px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-primary {
    background-color: #134dc4!important;
    font-weight: bold!important;
}

.btn-secondary {
    background-color: #5a9500!important;
    font-weight: bold!important;
}

.banner-button {
    width: 100%;
    padding: 9px !important;
}

.section-car-type-color {
    background-color: #1d222d;
}

.section-pick-type-color {
    background-color: #10141d;
}

.section-heading {
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    margin: 0px;
}

.section-divider {
    width: 100%;
    height: 2px;
    background-color: #242934;
}

.pick-cars {
    width: 100%;
}

.caro-padding .p-4 {
    padding: 2.5em !important;
}

.card-title-text {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

.sub-details h4 {
    color: black;
    font-weight: bold;
    font-size: 1em;
}

.sub-details p {
    color: black;
    font-size: 0.8em;
    margin: 0px;
}

.price-container h2 {
    color: #ff8a00;
    font-weight: bold;
    font-size: 1.2em;
}

.card {
    border-radius: 0px;
}

.bg-sub-dark {
    background-image: url("../images/sub-banner-1-bg-dark.jpg");
}

.bg-sub-dark-2 {
    background-image: url("../images/sub-banner-2-bg-dark.jpg");
}

.color-white {
    color: white;
}

.divider-right {
    width: 100%;
    position: relative;
}

.divider-right div {
    position: absolute;
    width: 106%;
    height: 2px;
    background-color: white;
    right: -24px;
}

.button-banner-sub {
    width: 50%;
    min-width: 50%;
    padding: 8px!important;
}

.bg-sub {
    background-image: url("../images/sub-banner-1-bg.jpg");
    background-size: cover;
}

.bg-sub-2 {
    background-image: url("../images/sub-banner-2-bg.jpg");
}

.info-box {
    background-color: #151922;
    padding: 20px;
    color: white;
}

.row .banners-marg {
    margin: 0px!important;
}

.sub-col {
    font-weight: bold;
    font-size: 1.2em;
    color: #f3f3f3;
}


.img-height {
    height: 200px;
    object-fit: contain;
}

.font-size-title {
    font-size: 1.5em;
}

.carousel-control-prev-icon {
    filter: brightness(0);
}

.carousel-control-next-icon {
    filter: brightness(0);
}

.arrow-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #e3e3e4;
}
.arrow-container {
    display: flex;
    width: 100%;
    justify-content: end;
}

.prev-cont {
    padding-right: 20px;
}

.text-over {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 70px;
    font-size: 0.9em;
}

.blog-anchor {
    color: #134dc4!important;
}

.footer-bg {
    background-color: #1d222d;
}

.footer-title {
    color: white;
    font-weight: bold;

}

.footer-sub {
    color: #ece6e6;  
    font-size: 0.9em;
}

.footer-bg-sub {
    background-color: #141822;
}

.footer-link {
    color: white!important;
}

.s-icons {
    padding-right: 30px;
}

.card-body h5 {
    color: black;
    font-weight: bold;
    font-size: 0.9em;
}

.swiper-slide {
    width: 16%!important;
    }


.b-top {
    border-top: 1px solid #e7e7e9;
}

.b-b-m {
    border-bottom: 1px solid #e7e7e9;
}

.btn-secondary {
    border: 1px solid #73bc03 !important;
}

/* Product Page */

.video-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0px;
    background-color: #10141d;
    padding: 0px 20px;
    font-weight: bold;
    color:white !important;
}

.body-product-page-background {
    background-color: #1d222d;
}

.floating-cta {
    position: fixed;
    bottom: 0;
    background-color:#10141d;
    width: 100%;
    z-index: 99;
    border-top: 1px solid#2c3443;
    display: none!important;
}

.show-cta {
    display: flex!important;
}
.bold {
    font-weight: bold;
}

.pp-text h1 {
    color: white;
}

.pp-text h2 {
    color: white;
}

.pp-text h3 {
    color: white;
}

.pp-text h4 {
    color: white;
}

.pp-text h5 {
    color: white;
}

.pp-text h6 {
    color: white;
}

.pp-text p {
    color: white;
}

.pp-text i {
    color: white;
}

.pp-text-cat a {
    color: white!important;
}

.input-dark input {
    background-color: #141822;
    border: 1px solid #2c3443;
    border-radius: 0px;
    outline:none;
}

.input-dark input:hover {
    background-color: #141822;
    border: 1px solid #647088;
}

.input-dark input:focus {
    background-color: #141822;
    border: 1px solid #647088;
}

.filter-button {
    border: 1px solid #2c3443!important;
    border-radius: 0px!important;
}

.input-dark button {
    background-color: #134dc4;
    border: 1px solid #647088;
    border-radius: 0px;
}

.input-dark button:hover {
    background-color: #134dc4;
    border: 1px solid #134dc4;
}
.input-group-append .btn, .input-group-prepend .btn {
    position: relative;
    z-index: 1!important;
}

.closebtn {

    font-size: 1.5em !important;
    padding: 10px 22px !important;

}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #1d222d;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.1s;
  }

*:focus {
    outline: none!important;
}

input {
    outline:none;
   }

.sidebar-list .dropdown-menu {
    min-width: 100%!important;
    border-radius: 0px!important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.image-sash {

    position: absolute;
    background: #134dc4;

color:white;
    font-weight: bold;
    width: 50%;
    text-align: center;
    border-top-left-radius: 5px;
}

.sidebar-list .dropdown-menu .dropdown-item {
    border-bottom: 1px solid #e3e3e3;
}

.sidebar-list .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}

.pp-price-container h5 {
    background-color: #10141d;
    padding: 10px;
    width: 40%;
    min-width: 40%;
    border: 1px solid #2c3443;
    text-align: center;
    font-size: 1.5em;
}

.product-page-divider {
    width: 100%;
    height: 2px;
    background-color: #2c323f;
}

.pp-pills .nav-link.active {
    border-bottom: 1px solid 
    blue !important;
    border-radius: 0px;
}

.pp-form .nav-link.active {
    border-bottom: 2px solid 
    red !important;
    border-radius: 0px;
    background-color: white!important;
    color: black!important;
}

.pp-form .nav-link {
    background-color: 
white !important;
color:
    black!important;
    opacity: 1;
}

.pp-pills .nav-link {
    background-color: 
#1d222d !important;
color:
    white !important;
    opacity: 1;
}

.circle-icon {
    background-color: white;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.desc-border {
    border-left: 2px solid white;
}

.green-tick {
    color: #4d7d0a!important;
}

.border-form-bt {
    border-bottom: 1px solid #d3d4d6;
}

.pp-indicators {
    width: 20%;
    max-width: 20%;
}

.gallery-height {
    height: 550px;
    max-width: 550px;
}

.pp-indicators img {
    width: 100%;
    max-width: 100%;
}

.bg-white {
    background-color: white;
}

.pp-black {
    color: black!important;
}

.phone-container-pp {
    background-color: #de130f;
    height:100%
}

.finance-sub-red {
    background-color: #c60502;
}

.finance-container-pp {
    background-color: #de130f;
    height:100%
}

.finance-container-pp i {
    font-size: 2em;
}

.phone-container-pp i {
    font-size: 2em;
}

.desc-border-blue {
    border-left: 2px solid #134dc4;
}

.spec-container {
    border: 1px solid #2c323f;
    background-color: #10141d;
}

.sub-pp-button {
    font-size: 0.8em!important;
}

.accordian-tabs .card-header {
    background-color: 
#10141d;
border: 1px solid
    #2c323f;
}

.accordian-tabs .card-header h2 button {
color: white!important;
font-weight: bold;
}

/* Prodcut Page End */

/* Cat Page Start */

.car-found {
    background-color: #141822;
    border: 1px solid #2c3443
}

.car-found h4 {
    font-size: 1em;
}


.bg-dark-mh {
    background-color: #1d222d;
}

.btn-link {
    color: white!important;
    font-weight: bold!important;
}

.dark-card {
    color: black!important;
}

.sidebar-title {
    background-color: #141822;
    border: 1px solid #2c3443;
}

input[type="range"]::-moz-range-progress {
    background-color: #134dc4; 
  }
  input[type="range"]::-moz-range-track {  
    background-color: grey;
  }

  .border-right-dark {
      border-right: 1px solid #2c3443;
  }
  .border-bottom-dark {
    border-bottom: 1px solid #2c3443;
}

.breadcrumb {
    background-color: #1d222d!important;
}

.breadcrumb-item a {
    color: 
    white !important;
}

.sidebar-list {
    border-right: 1px solid 
#2c3443;
border-left: 1px solid
#2c3443;
border-bottom: 1px solid
    #2c3443;
}

.list-dark {
    border-radius: 0px!important;
}

.list-dark li {
    border-radius: 0px!important;
    background-color: #1d222d;
    border-bottom: 1px solid #2c3443!important;
    font-size: 0.9em;
}

.list-dark li:last-child {
    border-radius: 0px!important;
    background-color: #1d222d;
    border-bottom: none!important;
}

.list-dark li a {
    color: 
    #aaa !important;
}






/* Cat Page End */

@media (max-width: 1200px) { 
    
    .b-right::after {
        display: none;
    }

}

@media (max-width: 992px) { 
    .swiper-slide {
        width:45%!important;
        }
        .pp-indicators {
            width: 100%;
            max-width: 100%;
        }

        .gallery-height {
            width: 100%!important;
            max-width: 100%!important;
            height: 300px;
        }
        .gallery-height img {
            width: 100%!important;
            max-width: 100%!important;
            height: 100%;
            object-fit: cover;
        }
        .gallery-height video {
            width: 100%!important;
            max-width: 100%!important;
            height: 100%;
            object-fit: cover;
        }
        .pp-indicators li {
            padding: 5px;
        }
        .pp-indicators li:first-child {
            padding-left: 0px;
        }
        .pp-indicators li:last-child {
            padding-right: 0px;
        }
        body {
            overflow-x: hidden;
        }
        html {
            overflow-x: hidden;
        }
}


@media (max-width: 768px) { 
    .swiper-slide {
        width:45%!important;
        }

}

@media (max-width: 576px) {
    .swiper-slide {
        width:70%!important;
        }
 }